<div class="flex justify-content-center align-items-center min-h-screen w-full">
    <!-- <p-card header="Formulario Registro" class="w-10"> -->
      <form [formGroup]="formLogin" class="flex flex-column gap-2">
  
        <div class="field flex flex-column gap-1">
          <label for="username">Username</label>
          <input type="text" pInputText formControlName="username" />
        </div>

        <div class="field flex flex-column gap-1">
            <label for="password">Password</label>
            <input type="text" pInputText formControlName="password" />
          </div>
  
          <div class="flex gap-2">
            <p-button label="Login" type="submit" />
          </div>
      </form>
    <!-- </p-card> -->
  </div>